body {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  font-weight: 600;
  border: 1px solid #000;
  border-bottom: none;
}

tr,
th,
td {
  border: 1px solid #000;
}
.ss {
  color: red;
}
