body {
  font-family: sans-serif;
  background-color: #0a0a0a;
}

.form {
  padding: 20px;
  max-width: 250px;
}

.form-group {
  color: #fff;
  background-color: #2f302e;
  border-radius: 5px;
}

.form-group-title {
  font-weight: 600;
}
.label {
  display: block;
  padding: 5px 0px;
}

.input {
  color: #fff;
  background-color: #393939;
  display: block;
  border-radius: 5px;
}

.textarea {
  color: #fff;
  background-color: #393939;
  display: block;
  resize: vertical;
  max-height: 200px;
  border-radius: 5px;
}

.button {
  cursor: pointer;
  color: #fff;
  background-color: #000000a1;
}
